<!--Slider Start-->
<div class="map-load">
    <div id="map"></div>
</div>
<!--Slider End-->
<!-- Contact Us Start -->
<section class="contact-sec" id="contact-sec">

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 contact-description wow slideInLeft" data-wow-delay=".8s">
                <div class="contact-detail wow fadeInLeft">
                    <div class="ex-detail">
                        <span class="fly-text">CONTACT US</span>
                        <h4 class="large-heading">
                            <span class="heading-1">Get</span>
                            <span class="heading-2">In Touch</span>
                        </h4>
                    </div>
                    <p class="small-text text-center text-md-left">
                        Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard.
                    </p>
                    <div class="row location-details text-center text-md-left">
                        <div class="col-12 col-md-6 country-1">
                            <h4 class="heading-text text-left">United States</h4>
                            <ul>
                                <li><i class="fas fa-mobile-alt"></i><a href="#">+(34) 609 33 17 54</a></li>
                                <li><i class="fas fa-envelope"></i><a href="#">email@website.com</a></li>
                                <li><i class="fas fa-map-marker"></i><a href="#">201 Oak Street 27 Manchester, USA</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 couuntry-1">
                            <h4 class="heading-text text-left">Australia</h4>
                            <ul>
                                <li><i class="fas fa-mobile-alt"></i><a href="#">+(34) 609 33 17 54</a></li>
                                <li><i class="fas fa-envelope"></i><a href="#">email@website.com</a></li>
                                <li><i class="fas fa-map-marker"></i><a href="#">201 Oak Street 27 Manchester, USA</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 contact-box text-center text-md-left wow slideInRight" data-wow-delay=".8s">
                <div class="c-box wow fadeInRight">
                    <h4 class="small-heading">Leave Message</h4>
                    <!--                        <p class="small-text">Lorem ipsum is simply dummy text of the printing and typesetting industry. </p>-->
                    <form class="contact-form" id="contact-form-data">
                        <div class="row my-form">
                            <div class="col-md-12 col-sm-12">
                                <div id="result"></div>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" class="form-control" id="candidate_fname" name="firstName" placeholder="First Name" required="required">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" class="form-control" id="candidate_lname" name="lastName" placeholder="Last Name" required="required">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="email" class="form-control" id="user_email" name="userEmail" placeholder="Email" required="required">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" class="form-control" id="user_subject" name="userSubject" placeholder="Subject" required="required">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" id="user_message" name="userMessage" placeholder="Message" rows="7" required="required"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn green-color-yellow-gradient-btn user-contact contact_btn" type="button">
                                    SUBMIT
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Us End -->
<!--START SEARCH AREA-->
<div class="search-box-overlay">
    <a><i class="fas fa-times cross-sign" id="close-window"></i></a>

    <div class="container">
        <div class="row">
            <div class="col-12 search-col">
                <form action="#">
                    <div class="input-group search-box-form">
                        <input type="text" class="form-control" placeholder="Search Here" aria-label="Search Here">
                        <div class="input-group-prepend">
                            <button class="input-group-text" type="submit" id="basic-addon1"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="search-listing row">
                <div class="col-12 mb-4">
                    <h4 class="">Filtered Items</h4>
                </div>
                <div class="col-12">
                    <div class="listing-search-scroll">
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="img/book-1.jpg" class="align-self-center" alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#">So Sad Today</a></h5>
                                <p class="category">Award Winning Book</p>
                                <a class="btn black-sm-btn" href="book-shop/shop-cart.html"><i class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="img/book-2.jpg" class="align-self-center" alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#">As I Lay Dying</a></h5>
                                <p class="category">Award Winning Book</p>
                                <a class="btn black-sm-btn" href="book-shop/shop-cart.html"><i class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="img/book-3.jpg" class="align-self-center" alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#">Love Does</a></h5>
                                <p class="category">Award Winning Book</p>
                                <a class="btn black-sm-btn" href="book-shop/shop-cart.html"><i class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="img/book-2-1.jpg" class="align-self-center" alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#">The Last Stand</a></h5>
                                <p class="category">Award Winning Book</p>
                                <a class="btn black-sm-btn" href="book-shop/shop-cart.html"><i class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>

            <div class="col-12">
                <h4 class="outlet-title text-center"> - Author - </h4>
            </div>

            <div class="col-12">
                <div class="search-box-meida-items owl-carousel owl-theme">

                    <div class="item">
                        <div class="brand-search-box ml-auto mr-auto">
                            <div class="media">
                                <div class="brand-box-holder">
                                    <a href="#"> <img class="mr-3" src="img/author1.jpg" alt="Generic placeholder image"></a>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="#"> Eva Smith</a></h5>
                                    <p> Cras sit amet nibh libero.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="brand-search-box ml-auto mr-auto">
                            <div class="media">
                                <div class="brand-box-holder">
                                    <img class="mr-3" src="img/author2.jpg" alt="Generic placeholder image">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="book-shop/product-listing.html">Rosa Parks</a></h5>
                                    <p> Cras sit amet nibh libero.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="brand-search-box ml-auto mr-auto">
                            <div class="media">
                                <div class="brand-box-holder">
                                    <img class="mr-3" src="img/author3.jpg" alt="Generic placeholder image">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="book-shop/product-listing.html">Alan Yang</a></h5>
                                    <p> Cras sit amet nibh libero.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="brand-search-box ml-auto mr-auto">
                            <div class="media">
                                <div class="brand-box-holder">
                                    <img class="mr-3" src="img/author4.jpg" alt="Generic placeholder image">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="book-shop/product-listing.html">Kam John</a></h5>
                                    <p> Cras sit amet nibh libero.</p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
<!--END SEARCH AREA -->
<!--START Cart Box-->
<div class="cart-box-overlay">
    <a><i class="fas fa-times cross-sign" id="close-window1"></i></a>

    <div class="container">
        <div class="row">
            <div class="search-listing row">
                <div class="col-12 mb-4">
                    <h4 class="">Shop Cart</h4>
                </div>
                <div class="col-12">
                    <div class="listing-search-scroll">
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="img/book-1.jpg" class="align-self-center" alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#">So Sad Today</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="shop-cart.html"><i class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="img/book-2.jpg" class="align-self-center" alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#">As I Lay Dying</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="book-shop/shop-cart.html"><i class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="img/book-3.jpg" class="align-self-center" alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#">Love Does</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="book-shop/shop-cart.html"><i class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="img/book-2-1.jpg" class="align-self-center" alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#">The Last Stand</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="book-shop/shop-cart.html"><i class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bag-btn">
            <h4 class="total"><span>Total: </span>100$</h4>
            <a href="#" class="btn green-color-yellow-gradient-btn">View Bag </a>
            <a href="#" class="btn green-color-yellow-gradient-btn">Checkout </a>
        </div>

    </div>

</div>
<!--END Cart Box -->
